@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
  --bs-font-sans-serif: 'Inter', system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

body, input, textarea, select, button {
  font-synthesis: none;
  -moz-font-feature-settings: 'kern';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: ltr;
  text-align: left;
}

body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
}

/*
 * Sidebar
 */

.bg-dark {
  background-color: #242424 !important;
}
.sidebar {
  background-color: #242424 !important;
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
a.nav-link.active {
  height: 100%;
}

.sidebar .nav-link {
  font-weight: 500;
  color: #fff;
  height: 40px;
  margin: 3px 12px;
  padding: 8px 12px 8px;
  border-radius: 8px;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.12);
  font-weight: 700;
}
.sidebar .nav-link:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.12);
}
.sidebar .nav-link.active .bi {
  color: #FFCE2E;
}

.sidebar a.nav-link.active::before {
  left: 0;
  width: 4px;
  height: 39px;
  content: "";
  position: absolute;
  border-radius: 0 8px 8px 0;
  background-color: #FFCE2E;
  margin-top: -9px;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 400;
}

.btn-close {
  border-radius: 100px;
}

.btn-close:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
  opacity: 1;
}
.btn-close:hover {
  color: #000;
  text-decoration: none;
  opacity: .75;
  background-color: rgba(0, 0, 0, 0.04);
}

.list-group-item-action:focus, .list-group-item-action:hover {
  background-color: transparent;
}

/*
 * Navbar
 */



.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}


.bg-dark-blur {
  background-color: rgba(36, 36, 36, .85) !important;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.toast-header {
  background: transparent;
  border: 0;
  border-radius: 10px !important;
}

@media (max-width: 768px){
  .toast {
    width: 100vw;
  }
}

.menu-mobile-navigation {

}



.menu-mobile-navigation a {
    font-weight: 500;
    color: #fff;
    height: 40px;
    margin: 3px 12px;
    padding: 8px 12px 8px;
    border-radius: 8px;
}
.menu-mobile-navigation a:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.12);
}

.menu-mobile-navigation a.active {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.12);
    font-weight: 700;
}
.menu-mobile-navigation a.active::before {
    left: 0;
    width: 4px;
    height: 39px;
    content: "";
    position: absolute;
    border-radius: 0 8px 8px 0;
    background-color: #FFCE2E;
    margin-top: -9px;
}

.toast {
  border-radius: 10px !important;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  border: 0;
}
.toast-body {
  font-weight: 500;
}
.action-btn {
  transition: 0.3s;
  cursor: pointer;
  position: relative;
}

.action-btn::after {
  content: '';
  display: block;
  width: 1.2em;
  height: 1.2em;
  position: absolute;
  left: calc(50% - 0.75em);
  top: calc(50% - 0.75em);
  border: 0.15em solid transparent;
  border-right-color: white;
  border-radius: 50%;
  animation: button-anim 0.7s linear infinite;
  opacity: 0;
}

@keyframes button-anim {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.action-btn.loading {
  color: transparent;
}

.action-btn.loading::after {
  opacity: 1;
}

/* em values are used to adjust button values such as padding, radius etc. based on font-size */








/* ini: Preloader */
body {
  overflow: hidden; 
}
#preloader {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#ECECEC; /* cor do background que vai ocupar o body */
  z-index:999999999999; /* z-index para jogar para frente e sobrepor tudo */
}
#preloader .inner {
  position: absolute;
  top: 50%; /* centralizar a parte interna do preload (onde fica a animação)*/
  left: 50%;
  transform: translate(-50%, -50%);  
}
.bolas > div {
  display: inline-block;
  background-color: #fff;
  width: 17px;
  height: 17px;
  border-radius: 100%;
  margin: 3px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: animarBola;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

}
.bolas > div:nth-child(1) {
  animation-duration:0.75s ;
  animation-delay: 0;
}
.bolas > div:nth-child(2) {
  animation-duration: 0.75s ;
  animation-delay: 0.12s;
}
.bolas > div:nth-child(3) {
  animation-duration: 0.75s  ;
  animation-delay: 0.24s;
}

@keyframes animarBola {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  16% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0.7;
  }
  33% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; 
  } 
}
/* end: Preloader */



/***************************************************
 * Generated by SVG Artista on 5/25/2022, 3:25:55 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

@-webkit-keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 120.65567016601562px;
    stroke-dasharray: 120.65567016601562px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 120.65567016601562px;
  }
}

@keyframes animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 120.65567016601562px;
    stroke-dasharray: 120.65567016601562px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 120.65567016601562px;
  }
}

@-webkit-keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(29, 29, 27);
  }
}

@keyframes animate-svg-fill-1 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(29, 29, 27);
  }
}

.svg-elem-1 {
  -webkit-animation: animate-svg-stroke-1 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0s both,
                       animate-svg-fill-1 0.7s cubic-bezier(0.895, 0.03, 0.685, 0.22) 0.8s both;
          animation: animate-svg-stroke-1 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0s both,
               animate-svg-fill-1 0.7s cubic-bezier(0.895, 0.03, 0.685, 0.22) 0.8s both;
}

@-webkit-keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 191.32540893554688px;
    stroke-dasharray: 191.32540893554688px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 191.32540893554688px;
  }
}

@keyframes animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 191.32540893554688px;
    stroke-dasharray: 191.32540893554688px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 191.32540893554688px;
  }
}

@-webkit-keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(29, 29, 27);
  }
}

@keyframes animate-svg-fill-2 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(29, 29, 27);
  }
}

.svg-elem-2 {
  -webkit-animation: animate-svg-stroke-2 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.12s both,
                       animate-svg-fill-2 0.7s cubic-bezier(0.895, 0.03, 0.685, 0.22) 0.9s both;
          animation: animate-svg-stroke-2 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.12s both,
               animate-svg-fill-2 0.7s cubic-bezier(0.895, 0.03, 0.685, 0.22) 0.9s both;
}

@-webkit-keyframes animate-svg-stroke-3 {
  0% {
    stroke-dashoffset: 319.1979675292969px;
    stroke-dasharray: 319.1979675292969px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 319.1979675292969px;
  }
}

@keyframes animate-svg-stroke-3 {
  0% {
    stroke-dashoffset: 319.1979675292969px;
    stroke-dasharray: 319.1979675292969px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 319.1979675292969px;
  }
}

@-webkit-keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(29, 29, 27);
  }
}

@keyframes animate-svg-fill-3 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(29, 29, 27);
  }
}

.svg-elem-3 {
  -webkit-animation: animate-svg-stroke-3 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.24s both,
                       animate-svg-fill-3 0.7s cubic-bezier(0.895, 0.03, 0.685, 0.22) 1s both;
          animation: animate-svg-stroke-3 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.24s both,
               animate-svg-fill-3 0.7s cubic-bezier(0.895, 0.03, 0.685, 0.22) 1s both;
}

@-webkit-keyframes animate-svg-stroke-4 {
  0% {
    stroke-dashoffset: 9.499996185302734px;
    stroke-dasharray: 9.499996185302734px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 9.499996185302734px;
  }
}

@keyframes animate-svg-stroke-4 {
  0% {
    stroke-dashoffset: 9.499996185302734px;
    stroke-dasharray: 9.499996185302734px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 9.499996185302734px;
  }
}

@-webkit-keyframes animate-svg-fill-4 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(29, 29, 27);
  }
}

@keyframes animate-svg-fill-4 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(29, 29, 27);
  }
}

.svg-elem-4 {
  -webkit-animation: animate-svg-stroke-4 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.36s both,
                       animate-svg-fill-4 0.7s cubic-bezier(0.895, 0.03, 0.685, 0.22) 1.1s both;
          animation: animate-svg-stroke-4 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.36s both,
               animate-svg-fill-4 0.7s cubic-bezier(0.895, 0.03, 0.685, 0.22) 1.1s both;
}

@-webkit-keyframes animate-svg-stroke-5 {
  0% {
    stroke-dashoffset: 15.434606552124023px;
    stroke-dasharray: 15.434606552124023px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 15.434606552124023px;
  }
}

@keyframes animate-svg-stroke-5 {
  0% {
    stroke-dashoffset: 15.434606552124023px;
    stroke-dasharray: 15.434606552124023px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 15.434606552124023px;
  }
}

@-webkit-keyframes animate-svg-fill-5 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(29, 29, 27);
  }
}

@keyframes animate-svg-fill-5 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(29, 29, 27);
  }
}

.svg-elem-5 {
  -webkit-animation: animate-svg-stroke-5 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.48s both,
                       animate-svg-fill-5 0.7s cubic-bezier(0.895, 0.03, 0.685, 0.22) 1.2000000000000002s both;
          animation: animate-svg-stroke-5 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 0.48s both,
               animate-svg-fill-5 0.7s cubic-bezier(0.895, 0.03, 0.685, 0.22) 1.2000000000000002s both;
}

